@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-color: #65a5d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.memory-card {
  width: 400px;
  height: 300px;
  background-color: #0a64a4;
  border: #03406a 3px solid;
  color: aliceblue;
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 1.5px;
}

.memory-card {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.46);
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.46);
}

.memory-card:hover {
  background-color: #1f83ca;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  cursor: pointer;
}

.word_ru {
  display: none;
}

.word_en {
  display: block;
}

.numbersWord {
  color: aliceblue;
  font-size: 1.5rem;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  color: aliceblue;
  background-color: #03406a;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #ffbe00;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.next {
  margin-left: 10px;
}

.prev {
  margin-right: 10px;
}

.word_ru {
  color: #ffce40;
}

.speak {
  margin: 15px;
  margin-bottom: 10px;
}

.speak:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.numbersWord {
  color: #ffdb73;
}

.github {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 10px;
}

.properties {
  background-color: #0a64a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: aliceblue;
  font-size: 1.5rem;
}

.properties #voice {
  width: 250px;
  height: 20px;
  margin-bottom: 20px;
}

.properties input {
  width: 250px;
}

.properties output {
  margin-bottom: 20px;
  font-size: 1rem;
}

.close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
}

.modal {
  position: relative;
  top: 20%;
  margin: auto auto;
  width: 50%;
  background-color: #0a64a4;
  display: none;
  padding: 40px;
  border-radius: 2rem;
}

.setting {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
}

.setting:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100wh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.year {
  font-size: 1.5rem;
  color: aliceblue;
  position: absolute;
  bottom: 1.5rem;
  left: 5rem;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }
  .year {
    display: none;
  }
  .numbersWord {
    font-size: 1rem;
  }
}

@media screen and (max-width: 410px) {
  .memory-card {
    width: 300px;
    height: 350px;
    background-color: #0a64a4;
    color: aliceblue;
    font-size: 1, 5rem;
    padding: 10px;
  }
  .modal {
    width: 100%;
  }
  .properties {
    font-size: 1rem;
  }
  output {
    margin-bottom: 5px;
    font-size: 0.5rem;
  }
  output:last-child {
    margin-bottom: 0;
  }
}

/* Опрос */
.choice {
  bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 12px;
  padding-left: 32px;
  padding-bottom: 0.5rem;
  line-height: 24px;
  font-size: 0.9rem;
  line-height: 16px;
}

.poll::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top: 0;
  left: -24px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: aliceblue;
}

.poll-option {
  margin-bottom: 0.5rem;
}

.dictionaries + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.dictionaries:focus + label {
  outline: none;
}
/*# sourceMappingURL=style.css.map */