* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  height: 100vh;
  background-color: #65a5d1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.memory-card {
  width: 400px;
  height: 300px;
  background-color: #0a64a4;
  border: #03406a 3px solid;
  color: aliceblue;
  font-size: 2rem;
  padding: 20px;
  letter-spacing: 1.5px;
}
.memory-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 15px;
  &:hover {
    background-color: #1f83ca;
    transform: scale(0.95);
    cursor: pointer;
  }
}

.word_ru {
  display: none;
}
.word_en {
  display: block;
}

.numbersWord {
  color: aliceblue;
  font-size: 2rem;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  color: aliceblue;
  background-color: #03406a;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: #ffbe00;
    color: black;
    transform: scale(1.1);
  }
}
.next {
  margin-left: 10px;
}
.prev {
  margin-right: 10px;
}

.word_ru {
  color: #ffce40;
}

.speak {
  margin: 15px;
  margin-bottom: 10px;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
.numbersWord {
  color: #ffdb73;
}

.github {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 10px;
}

.properties {
  background-color: #0a64a4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  justify-content: center;
  color: aliceblue;
  font-size: 1.5rem;
  #voice {
    width: 250px;
    height: 20px;
    margin-bottom: 20px;
  }
  input {
    width: 250px;
  }
  output {
    margin-bottom: 20px;
    font-size: 1rem;
  }
}

.close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
}

.modal {
  position: relative;
  top: 20%;
  margin: auto auto;
  width: 50%;
  //display: none;
  background-color: #0a64a4;
  display: none;
  padding: 40px;
  border-radius: 2rem;
}

.setting {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100wh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.year {
  font-size: 1.5rem;
  color: aliceblue;
  position: absolute;
  bottom: 1.5rem;
  left: 5rem;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }
  .year {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .memory-card {
    width: 300px;
    height: 350px;
    background-color: #0a64a4;
    color: aliceblue;
    font-size: 1, 5rem;
    padding: 10px;
  }

  .modal {
    width: 100%;
  }

  .properties {
    font-size: 1rem;
  }

  output {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    font-size: 0.5rem;
  }
}
